/* 

Project: Lost Cat Exercise
Author: General Assembly & Chris Castiglione 

*/


/* General Styles */

h2 {
	font-family: Helvetica, Arial, serif;
	font-size: 100px;
	line-height: 1.1;
	color: #000000; 
     padding: 40px;
     text-align: center;
     width:66%;
}
h1 {
     width:34%;
          vertical-align:right;

 }